// Copyright (C) 2017 Alexandre Pielucha
//
// Permission to use, copy, modify, and/or distribute this software for any
// purpose with or without fee is hereby granted, provided that the above
// copyright notice and this permission notice appear in all copies.
//
// THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
// WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
// MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
// ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
// WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION
// OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN
// CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.

@require 'src/assets/styl/mixins'

nav.navbar
    display flex
    flew-flow row no-wrap
    justify-content center

    padding 20px
    background-color #C0392B
    box-shadow 0px 2px 5px #AAAAAA

    img
        width 170px
        height 170px

    .titles
        margin-left 30px

        h1, h2
            color white
            font-weight normal
            text-shadow 2px 2px 3px #700000

        h1
            text-transform uppercase
            font-size 5em

        h2
            font-size 3em
